* {
    font-family: Arial, Helvetica, sans-serif;
}
.h1 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2em;
}

body {
    background-color: #E5E5E5;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.pie-chart {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding: 50px;
    padding-top: 80px;
    background-color: white;
}

.arc {
    stroke: white;
    stroke-width: 5px;
}

.aantalObjecten {
    display: none;
    stroke: none;
}

.label {
    display: none;
    stroke: none;
}

.arc:hover .label, .arc:hover .aantalObjecten{
    display: block;

    }
.arc:hover{
    opacity: 0.8;
}

